<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>48206251130-9da564vfcor7oqmb8213on7fa2ftmqd1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.48206251130-9da564vfcor7oqmb8213on7fa2ftmqd1</string>
	<key>API_KEY</key>
	<string>AIzaSyAYUyRX8BHs5T0RRAlnp0p3kRiBbP6LjCc</string>
	<key>GCM_SENDER_ID</key>
	<string>48206251130</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Igor2890.VKGBApp</string>
	<key>PROJECT_ID</key>
	<string>vkgbapp</string>
	<key>STORAGE_BUCKET</key>
	<string>vkgbapp.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:48206251130:ios:68d5eea9b1abdd9ff267c3</string>
</dict>
</plist>